.button {
  border: none;
  height: 40px;
  width: max-content;
  min-width: 120px;
  padding: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.finalMessageBlock {
  height: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.finalMessage {
  font-size: 24px;
  margin: 0;
}

.finalMessage.error {
  color: #ff0000;
}

.finalMessage.success {
  color: #00ff00;
}

.back {
  color: #fff;
  background-color: #2b4ef8;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  height: 350px;
}

.questionBlock {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.question {
  margin: 0;
}

.answers {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.answer {
  margin-left: 5px;
  cursor: pointer;
  width: max-content;
}

.formButtons {
  display: flex;
  column-gap: 10px;
  margin: 0 auto;
}

.reset {
  color: #7a7a7a;
  background-color: #f4f4f4;
}

.submit {
  color: #007034;
  background-color: #00f000;
}
