button {
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
    background-color: #f4f4f4;
}

.questionBlock h1 {
    text-align: center;
    margin: 0;
}

.questionBlock, .result {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 50px;
}

.result .logo {
    width: 300px;
    margin: 0 auto;
}

.result h2 {
    text-align: center;
    margin-top: 100px;
}

.result pre {
    margin-top: 30px;
    color: black;
    white-space: break-spaces;
}

.retry {
    background-color: #2b4ef8;
    color: white;
}